@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.bookfrom{
    position: relative;
    top: 50px;
    width: 60%;
    padding: 40px;
    z-index: 100;
    align-items:center;
    background-color: aliceblue;
}
.bookfrom p{
    font-size: 30px;
}
.bookfrom input{
    font-size: 25px;
}
.bookfrom select{
    font-size: 25px;
}
.bookfrom legend{
    font-size: 40px;
}
.payment{
    position: relative;
    top: 100px;
    width: 25%;
    padding: 40px;
    z-index: 100;
    align-items:center;
    background-color:cornsilk;
}
.payment P{
    font-size: 30px;
}
.payment legend{
    font-size: 40px;
}
.payment h3{
    font-size: 30Px;
    font-weight: bolder;
}

div{
    display: inline-block;
}
@media (max-width:800px) {
    .bookfrom{
        padding: 20px;
        width: 90%;
    }
    .bookfrom p{
        font-size: 20px;
    }
    .bookfrom input{
        font-size: 15px;
    }
    .bookfrom select{
        font-size: 15px;
    }
    .bookfrom legend{
        font-size: 25px;
    }
    .payment{
        padding: 20px;
        width: 90%;
        top: 50px;
    }
    .payment p{
        font-size: 20px;
    }
    .money{
        font-size: 20px;
    }
    .payment h3{
        font-size: 23px;
    }
    .payment legend{
        font-size: 25px;
        font-weight: bold;
    }
    #bookingpage{
        display: block;
    }
}
@media (max-width:1500px) {
    .bookfrom{
        padding: 20px;
        width: 90%;
    }
    .payment{
        padding: 20px;
        width: 90%;
        top: 50px;
    }
    #bookingpage{
        display: block;
    }
}